<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739318197822-037g55d5kq1t3h83kq5cpd2r05mu7sr0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739318197822-037g55d5kq1t3h83kq5cpd2r05mu7sr0</string>
	<key>API_KEY</key>
	<string>AIzaSyBUlJIVPQUbxmAshq5TFJO3xnwce-A1-do</string>
	<key>GCM_SENDER_ID</key>
	<string>739318197822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thengoding.chatting</string>
	<key>PROJECT_ID</key>
	<string>chatting-app-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>chatting-app-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739318197822:ios:28dd132ad55f7d86e56b6f</string>
</dict>
</plist>